# Смотрим на таблицы

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
# Путь к файлу
engine = create_engine(r'sqlite:///C:\Users\comp\SQL\futsal_Malboro_project\mbr123.db')

In [77]:
# Здесь формируется SQL запрос
df = pd.read_sql_query('SELECT * FROM players', engine)

In [78]:
df

    player_id first_name    last_name    birthday
0           1    Ярослав         Есин  1990-11-09
1           2     Шерзад  Имомназаров  1991-03-28
2           3      Рауль       Бутаев  1995-07-29
3           4     Хуршед   Мухитдинов  1993-08-17
4           5      Данил    Кочелаков  1997-04-21
5           6    Алексей      Бериков  1995-04-14
6           7      Жигер   Серсембаев  1996-08-23
7           8      Павел    Повелицын  1997-04-29
8           9    Николай    Гараньков  1992-08-16
9          10       Илья    Шапаренко  1992-08-04
10         11      Павел     Максимов  1992-08-21
11         12    Дмитрий       Зубарь  1996-10-04
12         13     Максим      Коробов  1998-12-27
13         14      Mario        Gamil  1997-09-11
14         15    Николай      Доронин  1987-09-17
15         16     Платон     Чернавин  1998-12-17

# Смотрим на существующие таблицы

In [12]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('mbr123.db')
cursor = conn.cursor()

# Query to retrieve the table names
table_query = "SELECT name FROM sqlite_master WHERE type='table'"

# Execute the query
cursor.execute(table_query)

# Fetch the results
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])

# Close the connection
conn.close()

players
matches
json_mbr
missed_details
goal_details
matches_players
tournaments

# Добавляем данные в текущуюю базу данных

### tournaments

In [16]:
connection = sqlite3.connect('mbr123.db')
cursor = connection.cursor()

cursor.execute('INSERT INTO tournaments (tournament_id, tournament_name, start_date, end_date, number_of_teams, our_table_place) VALUES (?,?,?,?,?,?)', (3, 'OFL Кубок закрытия', '2024-04-12', '2024-04-17', 4, 3))

connection.commit()
connection.close()

### matches

In [21]:
connection = sqlite3.connect('mbr123.db')
cursor = connection.cursor()

cursor.execute('INSERT INTO matches (match_id, play_date, opponent, team_points, scored, missed, tournament_id, ref) VALUES (?,?,?,?,?,?,?,?)', (13, '2024-04-12', 'Энергия', 0, 2, 4, 3, 'https://vk.com/video-219953662_456239555'))
cursor.execute('INSERT INTO matches (match_id, play_date, opponent, team_points, scored, missed, tournament_id, ref) VALUES (?,?,?,?,?,?,?,?)', (14, '2024-04-17', 'Заноза', 3, 4, 3, 3, 'https://vk.com/video-219953662_456239581?list=c60924ceb2d7682556'))

connection.commit()
connection.close()

### goal_details

In [29]:
connection = sqlite3.connect('mbr123.db')
cursor = connection.cursor()

cursor.execute('INSERT INTO goal_details (goal_id, match_id, who_score, who_assist) VALUES (?,?,?,?)', (39, 13, 9, 0))
cursor.execute('INSERT INTO goal_details (goal_id, match_id, who_score, who_assist) VALUES (?,?,?,?)', (40, 13, 6, 1))
cursor.execute('INSERT INTO goal_details (goal_id, match_id, who_score, who_assist) VALUES (?,?,?,?)', (41, 14, 1, 6))
cursor.execute('INSERT INTO goal_details (goal_id, match_id, who_score, who_assist) VALUES (?,?,?,?)', (42, 14, 14, 6))
cursor.execute('INSERT INTO goal_details (goal_id, match_id, who_score, who_assist) VALUES (?,?,?,?)', (43, 14, 4, 0))
cursor.execute('INSERT INTO goal_details (goal_id, match_id, who_score, who_assist) VALUES (?,?,?,?)', (44, 14, 4, 14))

connection.commit()
connection.close()

### missed_details

In [47]:
connection = sqlite3.connect('mbr123.db')
cursor = connection.cursor()

cursor.execute('INSERT INTO missed_details (missed_id, match_id, def1, def2, goalkeeper) VALUES (?,?,?,?,?)', (23, 13, 1, 15, 11))
cursor.execute('INSERT INTO missed_details (missed_id, match_id, def1, def2, goalkeeper) VALUES (?,?,?,?,?)', (24, 13, 1, 15, 11))
cursor.execute('INSERT INTO missed_details (missed_id, match_id, def1, def2, goalkeeper) VALUES (?,?,?,?,?)', (25, 13, 1, 14, 11))
cursor.execute('INSERT INTO missed_details (missed_id, match_id, def1, def2, goalkeeper) VALUES (?,?,?,?,?)', (26, 13, 8, 14, 11))
cursor.execute('INSERT INTO missed_details (missed_id, match_id, def1, def2, goalkeeper) VALUES (?,?,?,?,?)', (27, 14, 1, 10, 11))
cursor.execute('INSERT INTO missed_details (missed_id, match_id, def1, def2, goalkeeper) VALUES (?,?,?,?,?)', (28, 14, 1, 10, 11))
cursor.execute('INSERT INTO missed_details (missed_id, match_id, def1, def2, goalkeeper) VALUES (?,?,?,?,?)', (29, 14, 1, 10, 12))

connection.commit()
connection.close()

### matches_players

In [39]:
connection = sqlite3.connect('mbr123.db')
cursor = connection.cursor()

cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (1,13))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (11,13))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (6,13))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (9,13))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (10,13))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (8,13))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (15,13))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (14,13))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (4,13))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (2,13))

cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (1,14))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (11,14))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (12,14))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (10,14))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (6,14))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (8,14))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (14,14))
cursor.execute('INSERT INTO matches_players (player_id, match_id) VALUES (?,?)', (4,14))

connection.commit()
connection.close()

### SQL запросы для статистики вратарей

In [ ]:
# SELECT count(*) FROM missed_details WHERE goalkeeper = 11 сколько пропустил мячей
# SELECT count(*) FROM matches_players WHERE player_id = 11 сколько сыграл матчей

# SELECT count(*) FROM missed_details WHERE goalkeeper = 12
# SELECT count(*) FROM matches_players WHERE player_id = 11